---
import SiteLayout from "../layouts/SiteLayout.astro";
import GlitchTitle from "../components/ui/GlitchTitle.astro";
import AsciiRule from "../components/ui/AsciiRule.astro";
import Stat from "../components/ui/Stat.astro";
import Roadmap from "../components/Roadmap.astro";
import Depoimentos from "../components/Depoimentos.astro";
import CtaMatricula from "../components/CtaMatricula.astro";
import { getCollection } from "astro:content";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import fasesData from "../content/fases.json";
import * as styles from "../styles/index.css";
import MonoButton from "../components/ui/MonoButton.astro";

const fases = fasesData.fases;

const depoimentosRaw = await getCollection("depoimentos");
const depoimentos = depoimentosRaw.map((d) => d.data);
---

<SiteLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <!-- <LandingBoot client:load /> -->

  <header slot="hero" class="encodere-hero__header">
    <div class="encodere-content">
      <p class="encodere-section__eyebrow">criar com intenção</p>
      <GlitchTitle text="Encodere.se" as="h1" />
      <p>
      --> Para quem não quer ser apenas usuário da própria realidade.
      </p>
      <p class="encodere-hero__lede">--> o terminal é o primeiro <mark>altar</mark> da tecnomante.</p>

<!-- 
      <div class="encodere-hero__header__cta">
        <MonoButton href="/blog" variant="ghost" size="lg">quero me tornar arquiteto da minha própria real</MonoButton>
      </div> -->

    </div>
  </header>

   <Roadmap fases={fases} />
  <!-- <Depoimentos depoimentos={depoimentos} /> -->
  <CtaMatricula />
</SiteLayout>
